html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
::-webkit-scrollbar,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
  width: 8px;
  height: 8px;
  background-color: transparent;
}
.sidebar nav::-webkit-scrollbar,
.sidebar nav::-webkit-scrollbar-thumb,
.sidebar nav::-webkit-scrollbar-track {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: #e0e0e0;
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background-color: #fafafa;
}

body {
  min-width: 1000px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html,
body {
  height: 100%;
  margin: 0;
  line-height: 1.5;
  color: #121212;
}
textarea,
input,
button,
.optionList li {
  font-size: 1rem;
  font-family: inherit;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  background-color: white;
  line-height: 1.5;
  margin: 0;
}
button {
  color: #3992ff;
  font-weight: 500;
  cursor: pointer;
  font-size: inherit;
}

textarea:hover,
input:hover,
button:hover,
.optionList li:hover {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

form[action$='destroy'] button {
  color: #f44250;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#root {
  display: flex;
  height: 100%;
  width: 100%;
}

.sidebar {
  width: 22rem;
  background-color: #f7f7f7;
  border-right: solid 1px #e3e3e3;
  display: flex;
  flex-direction: column;
}

.sidebar > * {
  padding-left: 2rem;
  padding-right: 2rem;
}

.sidebar h1 {
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 1rem 2rem;
  border-top: 1px solid #e3e3e3;
  order: 1;
  line-height: 1;
}

.sidebar h1::before {
  content: url('/assets/imgs/svg/js.svg');
  margin-right: 0.8rem;
  position: relative;
  top: 1px;
  width: 28px;
}

.sidebar > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e3e3e3;
  position: relative;
}

.sidebar > .search-form input[type='search'] {
  width: 100%;
  padding-left: 2rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='%23999' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0.625rem 0.75rem;
  background-size: 1rem;
  position: relative;
}

.sidebar > .search-form input[type='search'].loading {
  background-image: none;
}

.sidebar > .search-form input[type='search']:focus {
  background-color: #fff;
  outline: 1px solid #1677ff;
  box-shadow: 0 0 0 3px rgba(5, 145, 255, 0.1);
}

.search-spinner {
  width: 1rem;
  height: 1rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%23000' strokeLinecap='round' strokeLinejoin='round' strokeWidth='2' d='M20 4v5h-.582m0 0a8.001 8.001 0 00-15.356 2m15.356-2H15M4 20v-5h.581m0 0a8.003 8.003 0 0015.357-2M4.581 15H9' /%3E%3C/svg%3E");
  animation: spin 1s infinite linear;
  position: absolute;
  left: 0.625rem;
  top: 0.75rem;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar nav {
  flex: 1;
  overflow: hidden;
  padding: 1rem 2em;
  margin: 4px 6px 4px 0;
}

.sidebar nav:hover {
  overflow: auto;
}

.sidebar .optionList {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 17rem;
  transform: translateX(0.5rem);
}

.sidebar li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  color: #333636;
}

.sidebar li.active {
  color: #4b9e5f;
  border: 1px solid #4b9e5f;
}

.sidebar .optionList li:hover {
  background-color: #f5f5f5;
}

.sidebar li + li {
  margin-top: 0.6rem;
}

.detail {
  flex: 1;
  margin: 1rem;
  padding: 1rem;
  overflow: auto;
  border-radius: 4px;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

.detail h4 {
  color: #4d4d4d;
}

.mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.mask .spin-container {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: calc(50% + 12rem);
  transform: translate(-50%, -60%);
}

.mask .spin-container .spin-dot {
  position: relative;
  width: 32px;
  height: 32px;
  transform: rotate(45deg);
  animation: spin 1.2s linear infinite;
  margin: 11px auto;
}

.mask .spin-container .spin-dot-item {
  position: absolute;
  width: 14px;
  height: 14px;
  transform: scale(0.75);
  transform-origin: 50% 50%;
  background-color: #1677ff;
  border-radius: 50%;
  opacity: 0.3;
  animation: spinMove 1s linear alternate infinite;
}

.mask .spin-container .spin-dot-item:nth-child(1) {
  top: 0;
  left: 0;
  animation-delay: 0s;
}

.mask .spin-container .spin-dot-item:nth-child(2) {
  top: 0;
  right: 0;
  animation-delay: 0.4s;
}

.mask .spin-container .spin-dot-item:nth-child(3) {
  bottom: 0;
  left: 0;
  animation-delay: 0.8s;
}

.mask .spin-container .spin-dot-item:nth-child(4) {
  bottom: 0;
  right: 0;
  animation-delay: 1.2s;
}

.mask .spin-container .spin-text {
  color: #1677ff;
  font-size: 14px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinMove {
  100% {
    opacity: 1;
  }
}

@media all and (max-width: 1000px) {
  .mask .spin-container {
    left: 50%;
  }
}
